/* You can add global styles to this file, and also import other style files */
@use 'styles-font';
@use 'theme';
// DONE: 1. the header (footer) needs to run flush to the top (bottom) and sides

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.custom-input {
  appearance: none;
  border: none;
  border-bottom: 1px solid theme.$brand-borders;
  padding: theme.$brand-padding;
  width: 200px;
  font-size: 1rem;
}
