<h1>Transfer Funds</h1>

<form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
  <div class="input-container">
    <label>From</label>
    <select
      [formControl]="transferForm.controls.from"
      (change)="onChange($event)"
      class="custom-input"
    >
      <option value="">----Select----</option>
      <option *ngFor="let account of accounts" [ngValue]="account.id">
        {{ account.id }}
      </option>
    </select>
  </div>

  <div class="input-container">
    <label>Recepient</label>
    <select class="custom-input" [formControl]="transferForm.controls.to">
      <option></option>
      <option *ngFor="let account of toAccounts" [ngValue]="account.id">
        {{ account.id }}
      </option>
      >
    </select>
  </div>

  <div class="input-container">
    <label>Amount</label>
    <input class="custom-input" [formControl]="transferForm.controls.amount" />
  </div>

  <button>Submit</button>
</form>

<p>{{ transferForm.value | json }}</p>
